.header{
    background: #000;
    color: rgb(230, 228, 228);
    text-align: center;
}

.content{
    display: flex;
    
    justify-content: space-between;
    text-align: center;
}

.figura{
    border-color: black;
    background-color: cadetblue;
    border-radius: 20px;
    border-style: solid;
    margin: 0px 30px ;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.figura__titulo{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.figura__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.figura__contenido__buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.figura__resultado {
    
}
.figura__resultado p:hover{
    font-weight: bold;
}

.figura__resultado--texto{
    color: black;
    text-align: start;
}

.input{
    outline: none;
    border:none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    height: 30px;
    width: 70%;
    margin-bottom: 20px;
}
::placeholder {
    color: white;
  }


.button{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    font-size: 16px;
    height: 60px;
    width: 150px;
    margin-top: 30px;
}

.button:hover{
    cursor: pointer;
}